* {
  font-size: 15px;
  font-family: cursive;
  text-decoration: none;

  /*overflow: hidden;*/
}
body{

 background-size: cover;
 background-repeat: 1;
  font-size: 15px; 
  font-family: cursive;
  font-weight: bold;
}

#imgsend {
  width: 20px;
  height: 20px;
  padding: 10px;
}

#send {
  background-color: #118811;
  border: none;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 2px;


}

input {
  width: 340px;
  height: 30px;
  border: none;
  box-shadow: inset 0 -2px 2px #68636357;
  border-radius: 20px;
  position: fixed;
  bottom: 15px;
  font-family: cursive;
 transition-duration: 0.5s;
  font-weight: bold;
}

p {
  margin: 5px;
  position: relative;
  padding: 5px;
}

#input {
  position: fixed;
  width: 395px;
  height: 390px;
  overflow: scroll;
  backdrop-filter: blur(15px);
  top: 20px;
}

@media screen and (min-width:500px) {
 input{
  
  width: 92%;
 }
 #input{
  width: 98%
  
 }
  .me{ 
    margin-left: 500px;
  }
  .ai{
    padding-right: 60px ;
    width: fit-content;
  }
}
label{
 padding: 10px;
 background-color: #0C1FED;
 height: 20px; 
 border-radius: 20px;
 color:white;
}
#bgc{
 height: 50px;
 text-align:center; 
 background-color: #fff;
 padding: 10px;
 padding-top: 25px;
 padding-bottom: -5px;
}
.me{
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px #000;
  margin-left: 200px;

}
.ai{
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px #000;
  align-self: right;
  
}
ul{
 list-style-type: decimal;
}
.ifr{
 position: fixed;
 width: 95%;
 height: 390px;
}
iframe{
 width: 98%;
 height: 98%;
}
.ifr_btn{
 position: fixed;
}

.nav{
 background-color: darkslateblue;
 position: absolute;
 width: 100%;
 left:0px;
 top: 0px;
}
.nav a{
  color:white;
  padding: 5px;

}
.projects-div{
  width:100px;
  height: 150px;
  background: black;
  position: absolute;
  left:20px;
  overflow-y: scroll;
}

.projects-div a:hover{
  background: #fff;
  color: black;

}
.projects-div a{
    display: block;
    padding: 5px;
}

.user-img{
  width: 20px;
  height: 20px;
  border-radius: 500%;
  overflow: hidden;
  position: absolute;
  right: 10px;
}