*{
  font-size: 15px;
  font-family: cursive;
  text-decoration: none;
  margin: 0px;
    transition-duration: 0.8s;
  
 
}
body{
  overflow: scroll;
}
.nav{
 background-color: darkslateblue;
}
.nav a{
  color:white;
    padding: 5px;
}
.projects-div{
  width:100px;
  height: 150px;
  background: black;
  position: absolute;
  left:20px;
  overflow-y: scroll;
}

.projects-div a:hover{
  background: #fff;
  color: black;

}
.projects-div a{
    display: block;
    padding: 5px;
}
.user-img {
  width: 20px;
  height: 20px;
  border-radius: 500%;
  overflow: hidden;
  position: absolute;
  right: 10px;
}
.project-ai,.project-bingo,.project-tic{

  background: url('/ai-s.png') no-repeat;
  background-size: cover;
  background-position: center;

}
.project-bingo {
  background: url('/bingo.png');
}.project-tic {
  background: url('/tic.png');
}
.project-ai .ai,.bingo,.tic{
  background: #00000061;
  backdrop-filter: blur(15px);
  height: 200px;
  display: flex;
  
}
.project-ai img,.bingo img,.tic img{
  position: absolute;
  width: 35%;
  align-self: center;
  left:5%;
  top:30%;
  box-shadow: 0 0 20px #000;
  transform: translate(1000%);
}

.ai-info,.bingo div,.tic div{
  background: #000000CC;
  color: darkgray;
  width: 50%;
  position: absolute;
  display: flex;
  top: 20px;
  right: 10px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  transform: translate(-1000%);
  overflow: hidden;
}

.ai-info h3 ,.bingo h3,.tic div h3{
  font-size: 20px;
  position: absolute;
  left: 8%;
  top: 15px;
  transition-delay: 0.7s;
  transform: translateY(-100px);

}
.ai-btn ,.bingo-btn,.tic-btn{
  color:#fff;
  position: absolute;
  left: 8%;
  bottom: 15%;
background: #1267FF;
padding: 5px;
border-radius: 5px;
box-shadow: 0 0 10px #000;
transition-delay: 0.8s;
transform: scale(0);

}
.bingo img{
  left:60%;
  transform: translate(-1000%);
}
.bingo div{
  left: 5%;
  transform: translate(1000%);
  
}
.animate  img,.animate a,.animate div div,
.animate div  h3{
  transform: scale(1);
}

@media screen and (min-width: 500px) {
  .project-ai img,.bingo img,.tic img{

    width: 25%;
    top:10%;
  }
}