*{
  font-size: 15px;
  font-family: cursive;
  text-decoration: none;
  margin: 0px;
  overflow: hidden;


}
body{ background: #130122;}

.email-vfy{
  width:300px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 20px ;
  box-shadow: 0px 0px 500px #000;
}
.email-vfy button{
  width: 80px;
  background-color: #FFDC16;
  border: 0.5px solid #000;
  
}
.later {
  position: absolute;
  top: 170px;
  left: 30px
}
.verify {
  position: absolute;
  top: 170px;
  right:30px
}
.email-vfy p{
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 10px;
}
.start_body{
margin-top: 50px;
}
p,span{
  font-size: 20px;
  text-align: center;
  color: darkgray;
}
.getstart
{margin-top: 5px;
  padding: 10px 15px;
  background: #130122;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 30px;
  
}
.getstart a{
  color: darkgray;
  font-size: 20px
}